<% provide(:title, "Ready Labs") %>
  <a id="mission" class="anchor"></a>
<section class="mission">
  <aside>
    <h1>Welcome to readyLabs</h1>
  </aside>
  <article>
    <p>We think it would be better to stick with darker bright colors. It needs to be more edgy. We think it would be better to stick with darker bright colors. We think it would be better to stick with darker bright colors. It needs to be more edgy. It needs to be more edgy. It needs to be more edgy. It needs to be more edgy. Hey, I know it's been a while, but do you happen to know our office WiFi password?</p>
    <p>It needs to be more edgy. Looks good, but... This is great, but let's take it to the next level. It needs to be more edgy. We think it would be better to stick with darker bright colors. Hey, I know it's been a while, but do you happen to know our office WiFi password? We think it would be better to stick with darker bright colors. </p>
  </article>
</section>
</a>
  <a id="developers" class="anchor"></a>
<div class="developers">
  <%= render @devs %>
</div>
  <a id="contact" class="anchor"></a>
<div class="contact">
  <%= render "layouts/contact", request: @request %>
</div>
