<div class="dev-page">
  <section>
    <aside>
      <h2><%= developer.name %></h2>
      <%= image_tag developer.picture %>
    </aside>
    <article>
      <p><%= developer.description %></p>
      <p>He specializes in <%= developer.specialties %></p>
    </article>
  </section>
</div>
