body {
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

section {
  @include outer-container;
  article { @include span-columns(7); }
  aside { @include span-columns(5); }
}

a.anchor {
	display: block;
	position: absolute;
	visibility: hidden;
	margin-top: -59px;
}

.mission, .contact {
  background: url(http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_52a088bb6fb98_1.JPG);
  min-width: 100%;
  padding: 60px;
  color: white;
  }

.body {
  padding-top: 60px;	
}

.header {
	position: fixed;
	width: 100%;
	background: black;
	padding: 15px;
	min-height: 60px;
	font-family: monospace;
	z-index: 1000;
}

.header a {
	font-size: 18px;
	color: white;
}

.header-links {
	position: relative;
	left: 50%;
	width: 400px;
	margin-left: -200px;
	text-align: center;
}

#logo {
	position: relative;
	left: 0px;
}

.dev-page {
	padding: 60px;
}

.contact-form {
	position: relative;
	width: 400px;
	left: 50%;
	margin-left: -200px;
}

textarea {
	height: 200px;
}

aside {
	text-align: center;
}

.button {
	width: 200px;
	left: 50%;
	margin-left: -100px;
	position: relative;
}